<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="SanRemLogo.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Gallery</title>
<style>
 body {
  font-family: "Times New Roman";
  margin: 0px;
}

.school-info {
  font-size: 24px;
}

.topnav {
  overflow: hidden;
  background-color: #29202b;
  font-family: "Times New Roman";
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 24px;
  text-decoration: none;
  font-size: 22px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #40a832;
  color: white;
}

.para {
  margin-left: 40px;
  margin-right: 40px;
  font-size: 22px;
}

footer {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 20px;
  background-color: #efefef;
}

div.gallery {
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #fff;
  float: left;
  width: 420px;
}

div.gallery img {
  width: 100%;
  height: 340px;
}

div.desc {
  padding: 5px;
  margin: 5px;
  text-align: center;
  font-family: Cambria;
  font-size: 24px;
  background-color: white;
}

</style>
</head>
<body>

<div class="school-info">    
            <img style="padding-right: 25px; padding-left: 25px; " id="school-logo" src="https://scontent.fceb1-2.fna.fbcdn.net/v/t1.18169-9/25395776_10157352927858312_2292027898289590919_n.jpg?_nc_cat=111&amp;ccb=1-5&amp;_nc_sid=09cbfe&amp;_nc_eui2=AeG9ETDVgRYOQYY6pTtLk1jFsIwOCKC2tJ-wjA4IoLa0n3uF1jS_FYs7l52LCjOsBd9oVqK1VggM7-jJGHGgCUX7&amp;_nc_ohc=JksISPCVs44AX8Q4Dl5&amp;_nc_ht=scontent.fceb1-2.fna&amp;oh=793f2d0981d4080ccb5f8ecc71c1dc07&amp;oe=61A5BC83" width="200" height="200" align="left">
            <h1>SAN REMIGIO NATIONAL HIGH SCHOOL</h1>
            <br>REGION VII - CENTRAL VISAYAS
            <br>DISTRICT OF SAN REMIGIO 1
            <br>POBLACION, SAN REMIGIO, CEBU                     
</div>
<br>
<div class="topnav">
  <a href="https://hros237.github.io/contactus.html">Contact Us</a>
  <a class="active" href="https://hros237.github.io/gallery.html">Gallery</a>
  <a href="https://hros237.github.io/about.html">About</a>
  <a href="https://hros237.github.io/home.html">Home</a>
</div>

<h1><marquee behavior="scroll" direction="left" scrollamount="10">SAN REMIGIO NATIONAL HIGH SCHOOL</marquee></h1>
<br>

<div class="gallery">
    <img src="Boy Scout Camping.jpg" width="600" height="400">
  <div class="desc">Boy Scouts Camping</div>
</div>

<div class="gallery">
    <img src="MathSayaw 2k19.jpg" width="600" height="400">
  <div class="desc">MathSayaw 2k19</div>
</div>

<div class="gallery">
    <img src="District Sports Meet.jpg" width="600" height="400">
  <div class="desc">District Sports Meet</div>
</div>

<div class="gallery">
    <img src="Educational Trips.jpg" width="600" height="400">
  <div class="desc">Educational Trips</div>
</div>

<div class="gallery">
    <img src="Family Sports Day.jpg" width="600" height="400">
  <div class="desc">Family Sports Day</div>
</div>

<div class="gallery">
    <img src="International Peace Day.jpg" width="600" height="400">
  <div class="desc">International Peace Day</div>
</div>

<div class="gallery">
    <img src="Intramurals.jpg" width="600" height="400">
  <div class="desc">Intramurals</div>
</div>

<div class="gallery">
    <img src="Nutrition Month.jpg" width="600" height="400">
  <div class="desc">Nutrition Month</div>
</div>

<div class="gallery">
    <img src="Science Month.jpg" width="600" height="400">
  <div class="desc">Science Month</div>
</div>

<div class="gallery">
    <img src="Valentine's Day.jpg" width="600" height="400">
  <div class="desc">Valentine's Day</div>
</div>

<div class="gallery">
    <img src="National Student's Day.jpg" width="600" height="400">
<div class="desc">National Student's Day</div>
</div>

<div class="gallery">
    <img src="Student Council Election.png" width="600" height="400">
  <div class="desc">Student Council Election</div>
</div>

<div class="gallery">
    <img src="Independence Day.jpg" width="600" height="400">
  <div class="desc">Independence Day</div>
</div>

<div class="gallery">
    <img src="Buwan ng Wika.jpg" width="600" height="400">
  <div class="desc">Buwan ng Wika</div>
</div>

<div class="gallery">
    <img src="Teacher's Day.jpg" width="600" height="400">
  <div class="desc">Teacher's Day</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<div class="para">
<p><center>Disclaimer: Some pictures used were taken from the last school years.</center></p>
</div>
<hr>



<div class="para">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer>
<p>Copyright &copy; 2021
<br>
<br>Disclaimer:
<br><br>
The following is very general information for students leaving high school and entering postsecondary studies.<br><br>
Please note no copyright infringement is intended, and we do not own nor claim to own any of the pictures used in this website.
<br><br>
You will have to do your own research to get all facts.</p>
<br>
Please visit their
           <a href="https://www.facebook.com/SanRemigioNHS" target="_blank">facebook page</a> for more information.
<br>
<br>
</footer>
</div>
</body>
</html>
